<div class="wrapper" *ngIf="!response">
  <div class="container">
    <div class="d-flex" style="justify-content: center; align-items: center; gap: 1rem">
    <h1 style="padding:0; margin: 0;">Classification</h1>
    <mat-icon #tooltip="matTooltip"
    matTooltip="The file should be a JSON file containing an array of objects that have the field 'input'. Example of content: [{input: text for classification}, {input: second text for classification}]"
    mat-tooltip-panel-above
    matTooltipHideDelay="100000"
    fontIcon="info" *ngIf="useFileAsInput"></mat-icon>
  </div>
    <div class="d-flex">
      <mat-slide-toggle
        (click)="useFileAsInput = !useFileAsInput"
      ></mat-slide-toggle>
      <p style="color: whitesmoke">Upload file as input</p>
    </div>
    <ng-container *ngIf="!useFileAsInput">
      <p
        class="d-flex w-100 align-items-center justify-content-center"
        style="gap: 1rem; font-size: large"
      >
        <strong>Input for classification.</strong>
        <span class="textarea" role="textbox" id="input" contenteditable></span>
      </p>
    </ng-container>
    <ng-container *ngIf="useFileAsInput">
      <div
        class="upload-container d-none d-md-flex"
        appDnd
        (fileDropped)="onFileDropped($event)"
      >
        <input
          type="file"
          #fileDropRef
          id="fileDropRef"
          multiple
          (change)="fileBrowseHandler($event)"
          style="display: none"
        />
        <img
          src="assets/images/ic-upload-file.svg"
          alt=""
          style="max-width: 40%; max-height: 50%; padding: 0; margin: 0"
        />
        <h3>Drag and drop file here</h3>
        <h3>or</h3>
        <label for="fileDropRef">Browse</label>
      </div>
      <div class="d-md-none d-flex align-items-center">
        <label for="fileDropRef" class="d-flex align-items-center"
          >Upload file<mat-icon>upload</mat-icon></label
        >
      </div>
      <div class="files-list">
        <div class="single-file" *ngFor="let file of files; let i = index">
          <img src="assets/images/ic-file.svg" alt="file" />
          <div class="info">
            <h5 class="name">
              {{ file?.name }}
            </h5>
            <p class="size">
              {{ formatBytes(file?.size) }}
            </p>
            <app-progress [progress]="file?.progress"></app-progress>
          </div>
          <img
            src="assets/images/ic-delete-file.svg"
            class="delete"
            alt="file"
            style="width: 5% !important"
            (click)="deleteFile(i)"
          />
        </div>
      </div>
    </ng-container>
    <button mat-raised-button (click)="query()">Query</button>
  </div>
</div>
<app-edit-mapping-modal w-100 *ngIf="response" [mappings]="response"></app-edit-mapping-modal>
