<div class="wrapper">
  <div class="title-container">
    <div class="title">
      <h1>
        <span> Welcome </span>
        <span> to </span>
        <span> the </span>
        <span> AI </span>
        <span> Classification </span>
        <span> Website </span>
      </h1>
    </div>
  </div>

  <div class="card-wrapper">
    <a class="login"></a>
    <mat-card>
      <mat-card-content>
        <ng-template [ngIf]="!this.switch">
          <form [formGroup]="loginForm" class="login-form">
            <h2>Log In</h2>
            <mat-form-field>
              <input
                matInput
                placeholder="Username"
                formControlName="username"
                name="username"
                required
              />
              <mat-error> Please provide a valid username </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                name="password"
                minlength="8"
                required
                [type]="hide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon (click)="hide = !hide">
                  {{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
              </button>
              <mat-error> Please provide a valid password </mat-error>
            </mat-form-field>
            <div class="d-flex" style="justify-content: space-between">
              <button
                class="button"
                mat-raised-button
                [disabled]="!loginForm.valid"
                (click)="onSubmit()"
              >
                Login
              </button>
              <button class="button" mat-raised-button (click)="switchForm()">
                Sign up
              </button>
            </div>
            <div *ngIf="this.errorMessage">
              <div *ngFor="let key of this.keys">
                <p style="color: red; margin-top: 1rem">
                  {{ this.errorMessage[key] }}
                </p>
              </div>
            </div>
          </form>
        </ng-template>
        <ng-template [ngIf]="this.switch">
          <form [formGroup]="registerForm" class="register-form">
            <h2>Register</h2>
            <div *ngIf="this.errorMessage">
              <div *ngFor="let key of this.keys">
                <p style="color: red; margin-top: 1rem">
                  {{ key + ": " + this.errorMessage[key] }}
                </p>
              </div>
            </div>
            <mat-form-field>
              <input
                matInput
                placeholder="Username"
                formControlName="username"
                name="username"
                (keyup.enter)="onRegister()"
                required
              />
              <mat-error> Please fill this field </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                name="password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                (keyup.enter)="onRegister()"
                required
              />
              <button
                mat-icon-button
                matSuffix
                matTooltip="The password must be at least 8 characters long and contain at least a lowercase and an uppercase letter, a number and a special character"
              >
                <mat-icon>info</mat-icon>
              </button>
              <mat-error> Invalid password </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                type="password"
                placeholder="Confirm password"
                formControlName="password2"
                name="password2"
                (keyup.enter)="onRegister()"
                required
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                this.registerForm.value['password'] !=
                  this.registerForm.value['password2'] &&
                this.registerForm.value['password'] != '' &&
                this.registerForm.value['password2'] != ''
              "
            >
              Passwords do not match!
            </mat-error>
            <mat-form-field>
              <input
                matInput
                type="email"
                placeholder="Email"
                formControlName="email"
                name="email"
                (keyup.enter)="onRegister()"
                required
              />
              <mat-error> Please provide a valid email </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="First Name"
                formControlName="first_name"
                name="first_name"
                (keyup.enter)="onRegister()"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Last Name"
                formControlName="last_name"
                name="last_name"
                (keyup.enter)="onRegister()"
                required
              />
              <mat-error> Please provide a valid password </mat-error>
            </mat-form-field>
            <div class="d-flex" style="justify-content: space-between">
              <button
                class="button"
                mat-raised-button
                [disabled]="!registerForm.valid"
                (click)="onRegister()"
              >
                Register
              </button>
              <button class="button" mat-raised-button (click)="switchForm()">
                Sign in
              </button>
            </div>
          </form>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
