<div class="wrapper">
  <form [formGroup]="mappingSetupForm">
    <h2>Mapping Setup</h2>
    <mat-form-field>
      <mat-label> Field of activity </mat-label>

      <input matInput formControlName="field_of_activity" name="field_of_activity" required />
      <mat-error> Please provide a domain for the classification </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Select the attributes that you want to map. </mat-label>
      <mat-select multiple formControlName="attributes" name="attributes">
        <mat-option *ngFor="let attribute of attributes" [value]="attribute">{{
          attribute.name
        }}</mat-option>
        <button
          mat-raised-button
          style="background-color: black; color: whitesmoke"
          (click)="openDialog()"
        >
          Add attribute
        </button>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label
        >Input the number of values retrieved for each attribute</mat-label
      >
      <input
        matInput
        formControlName="number_of_attribute_values"
        name="number_of_attribute_values"
        type="number"
        min="1"
        max="50"
        id="number_of_attribute_values"
        required
      />
      <mat-error>
        Please provide the number of values retrieved for each attribute.
      </mat-error>
    </mat-form-field>
    <!-- <div class="d-flex">
      <mat-slide-toggle formControlName="mapping_template"></mat-slide-toggle>
      <p style="color: whitesmoke">Use mapping templates</p>
    </div> -->
    <mat-form-field>
      <mat-label> Select the mapping template that you want to use. </mat-label>
      <mat-select formControlName="mapping_template" name="mapping_template">
        <mat-option *ngFor="let template of templates" [value]="template.id">{{
          template.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="d-flex">
      <mat-slide-toggle formControlName="use_descriptions"></mat-slide-toggle>
      <p style="color: whitesmoke">Use descriptions for attributes</p>
    </div>
    <mat-form-field>
      <mat-label>Number of values retrieved from memory</mat-label>
      <input
        matInput
        formControlName="number_of_memory_values"
        name="number_of_memory_values"
        type="number"
        min="1"
        max="50"
        id="number_of_memory_values"
        (keyup.enter)="onSubmit()"
        required
      />
      <mat-error>
        Please provide the number of values retrieved for each attribute.
      </mat-error>
    </mat-form-field>
    <div class="d-flex">
      <mat-slide-toggle formControlName="use_check_prompt"></mat-slide-toggle>
      <p style="color: whitesmoke">Use Check Prompt</p>
    </div>
    <button mat-raised-button type="submit" (click)="onSubmit()">Submit</button>
  </form>
</div>
