<div class="wrapper">
  <form [formGroup]="mappingSetupForm">
    <h2>Mapping Setup</h2>
    <mat-form-field>
      <mat-label> Domain </mat-label>

      <input matInput formControlName="domain" name="domain" required />
      <mat-error> Please provide a domain for the classification </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Select the attributes that you want to map. </mat-label>
      <mat-select multiple formControlName="attributes" name="attributes">
        <mat-option *ngFor="let attribute of attributes" [value]="attribute">{{
          attribute.name
        }}</mat-option>
        <button
          mat-raised-button
          style="background-color: black; color: whitesmoke"
          (click)="openDialog()"
        >
          Add attribute
        </button>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label
        >Input the number of values retrieved for each attribute</mat-label
      >
      <input
        matInput
        formControlName="numberOfAttributeValuesRetrieved"
        name="numberOfAttributeValuesRetrieved"
        type="number"
        min="1"
        max="50"
        id="numberOfAttributeValuesRetrieved"
        required
      />
      <mat-error>
        Please provide the number of values retrieved for each attribute.
      </mat-error>
    </mat-form-field>
    <div class="d-flex">
      <mat-slide-toggle formControlName="mappingTemplate"></mat-slide-toggle>
      <p style="color: whitesmoke">Use mapping templates</p>
    </div>

    <div class="d-flex">
      <mat-slide-toggle formControlName="useDescriptions"></mat-slide-toggle>
      <p style="color: whitesmoke">Use descriptions for attributes</p>
    </div>
    <mat-form-field>
      <mat-label>Number of values retrieved from memory</mat-label>
      <input
        matInput
        formControlName="numberOfMemoryValuesRetrieved"
        name="numberOfMemoryValuesRetrieved"
        type="number"
        min="1"
        max="50"
        id="numberOfMemoryValuesRetrieved"
        (keyup.enter)="onSubmit()"
        required
      />
      <mat-error>
        Please provide the number of values retrieved for each attribute.
      </mat-error>
    </mat-form-field>
    <div class="d-flex">
      <mat-slide-toggle formControlName="useCheckPrompt"></mat-slide-toggle>
      <p style="color: whitesmoke">Use Check Prompt</p>
    </div>
    <button mat-raised-button (click)="onSubmit()">Submit</button>
  </form>
</div>
