<div class="center">
  <div class="wrapper">
    <h1 style="color:whitesmoke; margin-top: 5rem">{{user | fullname}}</h1>

  <form [formGroup]="profileForm">
    <div class="header">
      <h1 style="color:whitesmoke">Profile</h1>
      <button class="btn-class-name" (click)="editable()">
        <span class="back"></span>
        <span class="front">Edit</span>
      </button>
    </div>
    <mat-form-field>
      <label> Username </label>
      <input matInput formControlName="username" name="username" required />
      <mat-error> The username is already taken. </mat-error>
    </mat-form-field>
    <mat-form-field>
      <label> First Name </label>
      <input matInput formControlName="first_name" name="first_name" />
    </mat-form-field>
    <mat-form-field>
      <label> Last Name </label>
      <input matInput formControlName="last_name" name="last_name" />
    </mat-form-field>
    <mat-form-field>
      <label> Email </label>
      <input matInput formControlName="email" name="email" />
    </mat-form-field>
    <div class="buttons">
    <button mat-raised-button *ngIf="editable_var" (click)="save()">
      Save changes
    </button>
    <button mat-raised-button *ngIf="editable_var" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>
<app-memory-table w-100 style="width: 100%; background-color: rgb(19,9,9)"></app-memory-table>
</div>