.scroll-to-top {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  mix-blend-mode: difference;
  z-index: 100;
}

.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
