<div class="bgimg">
  <div class="w3-display-left w3-text-white p-2">
    <span class="w3-jumbo w3-hide-small">Save time using AI to classify</span
    ><br />
    <span class="w3-xxlarge w3-hide-large w3-hide-medium"
      >Save time using AI to classify</span
    ><br />
    <span class="w3-large">Stop wasting time classifing things manually.</span>
    <p>
      <a
        href="#about"
        class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"
        >Learn more and start today</a
      >
    </p>
  </div>
</div>

<div class="about" id="about">
  <h1 class="w3-center">ABOUT THE APPLICATION</h1>
  <h2 class="w3-center">Key features of our application</h2>
  <div class="features">
    <div style="width: 20%; min-width: 300px">
      <i class="fa fa-desktop fa-2xl"></i>
      <h2>Responsive</h2>
      <p>
        Our application is fully responsive so you can use it on any device and
        on any browser.
      </p>
    </div>
    <div style="width: 20%; min-width: 300px">
      <i class="fa-solid fa-pen-to-square fa-2xl"></i>
      <h2>Customisable</h2>
      <p>
        The classification process is fully customisable so that each user can
        have their own unique experience.
      </p>
    </div>
    <div style="width: 20%; min-width: 300px">
      <i class="fa-solid fa-gem fa-2xl"></i>
      <h2>Design</h2>
      <p>
        The design is very aesthetically pleasing and intuitive so that all
        users should be able to go through the classification process with ease
        from the beggining.
      </p>
    </div>
    <div style="width: 20%; min-width: 300px">
      <i class="fa fa-cog fa-2xl"></i>
      <h2>Support</h2>
      <p>
        We offer full support for our users providing help with any problem
        withing 24 hours.
      </p>
    </div>
  </div>
</div>

<mat-card class="knowledge">
  <h1>We know how to work with AI models.</h1>
  <p>
    We worked with different large language models(llms) from OpenAI and even
    with free models from HuggingFace or opensource models so we have a good
    idea of their performance in different scenarios.<br />
    We also worked with different embedding models so that we will be able to
    use the best model for each specific scenario. <br />We are proficient in
    Retrieval Augmented Generation(RAG) and fine-tuning so we know how and when
    to use them to get the best results.
  </p>
</mat-card>

<div class="promo-statistics">
  <div>
    <span class="w3-xxlarge">14+</span>
    <br />Partners
  </div>
  <div>
    <span class="w3-xxlarge">55+</span>
    <br />Projects Done
  </div>
  <div>
    <span class="w3-xxlarge">89+</span>
    <br />Happy Clients
  </div>
  <div>
    <span class="w3-xxlarge">150+</span>
    <br />Meetings
  </div>
</div>

<div class="skills">
  <div class="text">
    <h1>Our Skills.</h1>
    <p>
      We know everything you need to know when using AI to classify<br />
      from prompting to fine tuning.
    </p>
    <p>
      Here are our most important and well defined skills related to AI
      classification<br />
      please do not hesitate to ask us for help with any of there topics.
    </p>
  </div>
  <div class="stats">
    <div class="stat">
      <p><i class="fa-solid fa-pencil"></i> Prompt Engineering</p>
      <div>
        <div class="stat-percentage" style="width: 90%">90%</div>
      </div>
    </div>
    <div class="stat">
      <p>
        <i class="fa-solid fa-book-bookmark"></i> Retrieval Augmented Generation
      </p>
      <div>
        <div class="stat-percentage" style="width: 85%">85%</div>
      </div>
    </div>
    <div class="stat">
      <p><i class="fa-solid fa-wrench"></i> Fine tuning</p>
      <div>
        <div class="stat-percentage" style="width: 75%">75%</div>
      </div>
    </div>
  </div>
</div>

<div class="contact" id="contact">
  <h1 class="d-flex justify-content-center">CONTACT</h1>
  <h2 class="d-flex justify-content-center">
    Lets get in touch. Send us a message:
  </h2>
  <div class="contact-info">
    <h3>
      <i class="fa fa-map-marker fa-fw fa-2xl"></i>
      Timisoara, Romania
    </h3>
    <h3><i class="fa fa-phone fa-fw fa-2xl"></i> Phone: +40 726 008 842</h3>
    <h3>
      <i class="fa fa-envelope fa-fw fa-2xl"> </i> Email:
      imbru.adelin&#64;yahoo.com
    </h3>
    <div class="d-flex justify-content-center w-100">
      <form class="form">
        <p class="title">Contact us</p>
        <div class="flex">
          <label>
            <input required placeholder="" type="text" class="input" />
            <span>Firstname</span>
          </label>

          <label>
            <input required placeholder="" type="text" class="input" />
            <span>Lastname</span>
          </label>
        </div>

        <label>
          <input required placeholder="" type="email" class="input" />
          <span>Email</span>
        </label>

        <label>
          <input
            required
            placeholder=""
            type="tel"
            class="input"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
          />
          <span>Phone Number</span>
        </label>
        <label>
          <input required placeholder="" type="text" class="input" />
          <span>How can we help you?</span>
        </label>
        <button class="submit">Submit</button>
        <button class="cancel">Close</button>
      </form>
    </div>
  </div>
  <div class="icons">
    <i class="fa fa-facebook-official fa-2xl w3-hover-opacity"></i>
    <i class="fa fa-instagram fa-2xl w3-hover-opacity"></i>
    <i class="fa fa-snapchat fa-2xl w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p fa-2xl w3-hover-opacity"></i>
    <i class="fa fa-twitter fa-2xl w3-hover-opacity"></i>
    <i class="fa fa-linkedin fa-2xl w3-hover-opacity"></i>
  </div>
</div>
